At FedEx, one data resource is marketview which is an Oracle instance. To connect to mkv, we need to download an Oracle client (free) and another python package.

### 1. Install Oracle client on our windows 10/7 machine:

Visit http://www.oracle.com/technetwork/database/database-technologies/instant-client/overview/index.html
to download the client libraries from the free Oracle Instant Client “Basic” or “Basic Light”. Whichever you like the most, it does not matter. Install it.

*For FedEx employees, you need admin permission to install that as regular users don't have permission to install it.*

### 2. Install cx_Oracle 

Open your windows console and type the following command:
    
    pip install cx_Oracle

That's it. We now can have some fun to connect to mkv and test some SQL queries.

### 3. (Bonus) Install Pandas

Since we are going to do data science, we got to have another simple but powerful tool to use.

Open your windows console and type the following command:

    pip install pandas

### 4. Examples

Now we are in business.

In [12]:
import pandas as pd
import pandas.io.sql as sql
import cx_Oracle

password='your_ldap'
auth_mkv = 'your_fdx_id/' + password +'@mktg031-scan.marketing.fedex.com:1526/mkvw_mkv_svc.marketing.fedex.com'

In [13]:
def get_df(query):
    mkv_con = cx_Oracle.Connection(auth_mkv)  # get a connection to marketview
    df = sql.read_sql(query, mkv_con)         # get result into a dataframe
    mkv_con.close()                           # close the connection
    return df

Whatever query you want to use with TOAD, you can use it here. But it is a good practice to make sure the result set fits your RAM, which is much smaller than servers. (TOAD does that for us behind the scene)

For instance, you can add some where clause like 

    "where rownum <= 1000" 

to avoid "out of memory error".

When we connect to marketview (Oracle) database, the SQL we use is 100% Oracle SQL dialect. As we can see later, when we connect to EDW (Teradata) later, that SQL is 100% Teradata SQL dialect. No exception. Don't you love that!? This is perfect as we don't need to waster our life to learn another new SQL dialect.

In [14]:
query = '''
select 
    * 
from 
    mkvw_appdssa_schema.OP_DAYS_MASTER_1996TO2015
where
    rownum <= 10
'''
df = get_df(query)
df

  SHP_DT_YYYYMM  E_OPDAYS  GC_OPDAYS  GP_OPDAYS  SP_OPDAYS
0        199906        22         22         24         22
1        199907        21         21         24         21
2        199908        22         22         24         22
3        199909        21         21         24         21
4        199910        21         21         24         21
5        199911        21         20         24         20
6        199912        21         22         24         22
7        200001        21         20         24         20
8        200002        21         21         24         21
9        200003        23         23         24         23

In [15]:
# df is a reference pointing to Python Dataframe (in pandas) 
# It is a very useful tool
# Here are some simple but most commonly used examples of dataframe
df.head(3)

  SHP_DT_YYYYMM  E_OPDAYS  GC_OPDAYS  GP_OPDAYS  SP_OPDAYS
0        199906        22         22         24         22
1        199907        21         21         24         21
2        199908        22         22         24         22

In [16]:
df.tail(3)

  SHP_DT_YYYYMM  E_OPDAYS  GC_OPDAYS  GP_OPDAYS  SP_OPDAYS
7        200001        21         20         24         20
8        200002        21         21         24         21
9        200003        23         23         24         23

In [17]:
df.shape # 10 rows, 5 columns

(10, 5)