At FedEx, another data resource is edw which is a Teradata instance. To connect to edw, we need to download the teradata odbc driver (free) and another python package (free).

### 1. Install Teradata odbc driver to our windows 10/7 machine:

Visit https://downloads.teradata.com/download/connectivity/odbc-driver/windows
to download the latest version and install it.

*For FedEx employees, you need admin permission to install that as regular users don't have permission to install it.*

### 2. Install pyodbc 

Open your windows console and type the following command:
    
    pip install pyodbc

That's it. We now can connect to EDW and test some SQL queries.

### 3. Examples

Now we are in business.

In [1]:
import pandas as pd
import pandas.io.sql as sql
import pyodbc

password='ldap'
auth_edw = 'DRIVER=Teradata;DBCNAME=edwadhoccop1.prod.fedex.com;UID=yj491939;PWD=' + password + ';'

In [2]:
def get_df_edw(query):
    edw_con = pyodbc.connect(auth_edw, autocommit=True)
    df = pd.read_sql(query, edw_con)
    edw_con.close()
    return df

Whatever query you use in 'Teradata SQL Assistant', you can use that here. But it is a good practice to make sure the result set fits your RAM, which is much smaller than servers. ('Teradata SQL Assistant' does that for us behind the scene)

For instance, you can add some where clause like 

    "sample 1000" 

to avoid "out of memory error".

Similar to Oracle case, when we connect to edw (Teradata) database, the SQL we use is 100% Teradata SQL dialect. No exception. Don't you love that!? This is perfect as we don't need to waster our life to learn another new SQL dialect.

In [5]:
query = 'select * from scan_prod_view_db.activity_type_code sample 2'
df = get_df_edw(query)
df

  acty_type_cd acty_type_desc
0           TR        Transit
1           EX         Export

In [6]:
# df is a reference pointing to Python Dataframe (in pandas) 
# It is a very useful tool
# Here are some simple but most commonly used examples of dataframe
df.head(2)

  acty_type_cd acty_type_desc
0           TR        Transit
1           EX         Export

In [7]:
df.tail(1)

  acty_type_cd acty_type_desc
1           EX         Export

In [8]:
df.shape # 10 rows, 5 columns

(2, 2)